{% load staticfiles %}
  <!-- <h1>Welcome to Programmer Plebeian </h1>
  <h2>A Budding Programmer's Paradise</h2> -->

<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Programmer Plebeian</title>
  <meta name="" content="">
  <meta name="author" content="Andrew Spano">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="{% static '//fonts.googleapis.com/css?family=Raleway:400,300,600' %}" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static 'blog/normalize.css' %}"/>
  <link rel="stylesheet" href="{% static 'blog/skeleton.css' %}"/>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{% static 'blog/images/favicon.png' %}"/>


</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="eleven columns">
        <h1>Programmer Plebeian</h1>

	<ul>
	  {% if latest_post_list %}
	  {% for post in latest_post_list %}
	  <li><a href="{% url 'blog:view_post' post.id %}">{{post.content}}</a></li>
	  {% endfor %}
	</ul>
	{% else %}
	<p>There is no blog post available here</p>
	{% endif %}
	Hello World!!

      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
